
.header {
    height: 40vw; 
    /* margin: 30px auto; */
     margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background: url('/hero-image.webp') no-repeat;
    background-size: cover;
    position: relative;
}  

@media (max-width: 750px) {
    .header {
        height: 70vw;
        background-position: center;
        background-size: cover;
    }
}